@import 'tailwindcss';



:root {
  --color-primary: #2c5f9b;
  --color-secondary: #252525;

}

.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}

.text-primary {
  color: var(--color-primary);
}

@keyframes marquee {
  0% {
    transform: translateX(180%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 15s linear infinite;
}