@import "tailwindcss";

:root {
    --color-primary: #2c5f9b;

    /* Cores claras (modo claro) */
    --color-background: #fff;
    --color-secondary: #f4f6fa;
    --text-primary: #000;
}

.dark {
    /* Sobrescreve no modo escuro */
    --color-background: #12121e;
    --color-secondary: #1d1d29;
    --text-primary: #fff;
}

@keyframes marquee {
    0% {
        transform: translateX(180%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    display: inline-block;
    animation: marquee 15s linear infinite;
}

/* From Uiverse.io by Gautammsharma */ 
.grid-wrapper {
  height: 70vh;
  width: 100%;
  position: relative;
  background-color: #ffff;
}

.grid-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-image: linear-gradient(to right, #e2e8f0 1px, transparent 1px),
    linear-gradient(to bottom, #e2e8f0 1px, transparent 1px);
  background-size: 20px 30px;
  -webkit-mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
}
